.responsive_header{ display: none;}


@media screen and  (max-width: 768px) {
    .header{
        display:none !important;
        height: 0;
    }
    .responsive_header{ width:100%; margin-top: 10px; display: block;}
.menu_logo{width:100%; float: left;}
    .responsivelogologo{
        width:40%; float: left;
    }
    .hamburger_menu  {
       float: right;
    
     } .border_line{
        width: 45px;
        height: 2px;
        background-color: #000;
       margin-bottom: 10px;
       
        }
    .sidebar{
      width:90%; position: absolute; background-color: #fff;  margin-left: auto;
      margin-right: auto; top: 50px; display:none;
      left: 0;
      right: 0;
      text-align: center;-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.71);
      -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.71);
      box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.71);
      padding:10px; z-index: 999;
    }
    .sidebar ul {list-style: none;}
    .sidebar ul li{display: block;}
    .sidebar ul li a{color: #666666;display: block;
        padding: 10px 5%;
        border-bottom: 1px solid rgba(0,0,0,.03);}
        .collection_bg {
         
    height: auto;
    margin-top: 20px;
        }
        .collection_heading {
          
            margin-top: 30px;
        }
       .collection_bg{display: none;}
        .bo{ position: absolute; top:12px ; right: 227px;}
        .bo1{ position: absolute; top:40px; right:163px ; color: #fcbda5};
        .keepintouch .heading{ margin-top: 0px;}   
        .resmartop{margin-top: 20px;}
        .keepintouch .heading h2 {
          text-align: center; font-size: 16px;
        }
        .keepintouch .heading {
            margin-top: 10px !important;
        }
        .keepintouch .heading p {
            
            font-size: 13px;
           
            line-height: 20px;
        }
  }
  .keepintouch .heading {
    margin-top: 100px;
}

@media screen and (max-width: 768px) {
    .bo{   right: 127px;}
    .bo1{  right:74px ; };
}